@model CareCheck.DomainClasses.Patient
@{
    ViewBag.Title = "Personal";
}


<style>
    .panel-default {
        margin-top: 20px;
    }
</style>



<div class="row">
    <div class="start-banner">
        <h1 class="text-center">Patienter</h1>
    </div>
</div>


<div class="row">

    <div class="col-md-12">



        @using (Html.BeginForm())
        {

            <div class="form-group">
                <label for="firstName">Förnamn</label>
                @Html.TextBoxFor(model => model.FirstName, new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.FirstName, "", new {@class = "text-danger"})
            </div>

            <div class="form-group">
                <label for="lastName">Efternamn</label>
                @Html.TextBoxFor(model => model.LastName, new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.LastName, "", new {@class = "text-danger"})
            </div>
            <div class="form-group">
                <label for="personNumber">Personnummer</label>
                @Html.TextBoxFor(model => model.PersonNumber, new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.PersonNumber, "", new {@class = "text-danger"})
            </div>
            <div class="form-group">
                <label for="phoneNumber">Telefonnummer</label>
                @Html.TextBoxFor(model => model.PhoneNumber, new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new {@class = "text-danger"})
            </div>
            <div class="form-group">
                <label for="adress">Adress</label>
                @Html.TextBoxFor(model => model.Adress, new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.Adress, "", new {@class = "text-danger"})
            </div>
            <div class="form-group">
                <label for="zipCode">Postnummer</label>
                @Html.TextBoxFor(model => model.ZipCode, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ZipCode, "", new { @class = "text-danger" })
            </div>

        }

    </div>

</div>

      <div class="col-md-12">
    <form>
        <div class="form-group">
            <label for="firstName">Förnamn</label>
            <input type="text" class="form-control" id="firstName" placeholder="Firstname">
        </div>
        <div class="form-group">
            <label for="lastName">Efternamn</label>
            <input type="text" class="form-control" id="lastName" placeholder="Lastname">
        </div>
        <div class="form-group">
            <label for="personNumber">Personnummer</label>
            <input type="text" class="form-control" id="personNumber" placeholder="ÅÅ/MM/DD-XXXX">
        </div>
        <div class="form-group">
            <label for="phoneNumber">Telefonnummer</label>
            <input type="text" class="form-control" id="phoneNumber" placeholder="Telefonnummer">
        </div>
        <div class="form-group">
            <label for="adress">Adress</label>
            <input type="text" class="form-control" id="adress" placeholder="Adress">
        </div>
        <div class="form-group">
            <label for="zipCode">Postnummer</label>
            <input type="text" class="form-control" id="zipCode" placeholder="Postnummer">
        </div>
        <button type="submit" class="btn btn-default btn-success">Lägg till</button>
    </form>
</div>


<div style="height: 150px"></div>

@section scripts {
  
}