@model vardkollen.ViewModels.PatientViewModel
@{
    ViewBag.Title = "Personal";
}


<link href="//cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" rel="stylesheet"/>
<link href="//cdn.datatables.net/responsive/2.1.0/css/responsive.bootstrap.min.css" rel="stylesheet" />


<style>
    .panel-default {
        margin-top: 20px;
    }

      .Push{
        height: 150px;
    }

    @@media  (min-width: 2560px) {
    .Push {
        height:361px;
    }
}

</style>



<div class="row">
    <div class="start-banner">
        <h1 class="text-center">Patienter</h1>
    </div>
</div>


<div class="row">

    <div class="col-md-12">

        <div class="col-md-4">
            @using (Html.BeginForm("CreatePatient", "Patient", "POST"))
            {
                @Html.AntiForgeryToken()


                <div class="form-group">
                    @Html.LabelFor(model => model.FirstName, "Förnamn")
                    @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.LastName, "Efternamn")
                    @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PersonNumber, "Personnummer")
                    @Html.TextBoxFor(model => model.PersonNumber, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PersonNumber, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PhoneNumber, "Telefonnummer")
                    @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Adress, "Adress")
                    @Html.TextBoxFor(model => model.Adress, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Adress, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ZipCode, "Postnummer")
                    @Html.TextBoxFor(model => model.ZipCode, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ZipCode, "", new { @class = "text-danger" })
                </div>


                <div class="form-group">
                    <input type="submit" value="Lägg till" class="btn btn-primary" />
                </div>
            }
        </div>



      
        <!-- TABLE USING Jquery -->
        <div class="col-md-8">
            <table id="patientTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Förnamn</th>
                        <th>Efternamn</th>
                        <th>Personnummer</th>
                        <th>Telefonnummer</th>
                        <th>Adress</th>
                        <th>Postnummer</th>
                        <th>Edit/Delete</th>
                    </tr>
                </thead>
                <tbody>
                
                </tbody>
            </table>
        </div>
    </div>
</div>









<div class="Push"></div>

@section scripts {

    <script type="text/javascript" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/responsive/2.1.0/js/responsive.bootstrap.min.js"></script>

    <script>
        $(document)
            .ready(function() {
                $('#myTable')
                    .DataTable({
                        responsive: true,
                        "language": {
                            "lengthMenu": "Visar _MENU_ personer per sida",
                            "zeroRecords": "Vi hittade tyvärr inget",
                            "info": "Visar _PAGE_ av _PAGES_",
                            "infoEmpty": "Inga uppgifter tillgängliga",
                            "infoFiltered": "(filtered from _MAX_ total records)",
                            "search": "Sök",
                            "paginate": {
                                "first": "Första",
                                "last": "Sista",
                                "next": "Nästa",
                                "previous": "Föregående"
                            },
                            "processing": "Söker...",
                        }


                    });




                var table = $("#patientTable")
                    .DataTable({
                        responsive: true,
                        "language": {
                            "lengthMenu": "Visar _MENU_ personer per sida",
                            "zeroRecords": "Vi hittade tyvärr inget",
                            "info": "Visar _PAGE_ av _PAGES_",
                            "infoEmpty": "Inga uppgifter tillgängliga",
                            "infoFiltered": "(filtered from _MAX_ total records)",
                            "search": "Sök",
                            "paginate": {
                                "first": "Första",
                                "last": "Sista",
                                "next": "Nästa",
                                "previous": "Föregående"
                            },
                            "processing": "Söker...",
                        },



                        ajax: {
                                url: "/Patient/GetPatients",
                                type: "GET",
                                "dataType": "json"
                            },
                            columns: [
                            { data: "Id" },
                            { data: "FirstName" },
                            { data: "LastName" },
                            { data: "PersonNumber" },
                            { data: "PhoneNumber" },
                            { data: "Adress" },
                            { data: "ZipCode" },
                            { data: "Id",
                                render: function (data) {
                                    return "<button class='btn btn-danger js-delete' data-patient-id=" + data + ">Delete</button>" +
                                          + " " + "<button class='btn btn-info js-edit' data-patient-id=" + data + ">Edit</button>";;
                                }
                            }
                ]
               });




                $("#patientTable").on("click", ".js-delete", function () {
                    var removeButton = $(this);

                    // Get ref to  collapsed tr and colapsed tr to get remove when success
                    var collapsedTr = removeButton.closest('tr');
                    var partedTr = collapsedTr.prev('tr.parent');

                
                     var patientId = $(this).data('patient-id');

                            $.ajax({
                                url: "@Url.Action("DeletePatient", "Patient")",
                                method: "POST",
                                data: { id: patientId },
                                success: function () {
                                    collapsedTr.remove();
                                    partedTr.remove();
                                }
                            });
                });



        });


    </script>
}