<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Vårdkontrollen</title>

    <script src="https://use.fontawesome.com/11ab90a810.js"></script>
    @Scripts.Render("~/bundles/modernizr")

    <!-- Shared Contet css from site.css renders here-->
    @Styles.Render("~/Content/css")
</head>
<body>
    <!-- Imports the Navigation bar-->
    @Html.Partial("_NavBar")


    <!-- All pages are rendered inside this container-->
    <div class="container">
        @RenderBody()
    </div>


    <!-- Imports the Footer-->
    @Html.Partial("_Footer")


    <!-- Render script bundle from App_Start > BundleConfig.cs -->
    @Scripts.Render("~/bundles/lib")


    <!--Must be the last script file-->
    @RenderSection("scripts", required: false)
</body>
</html>
