<style>
   

       .navbar-default {
        background-color: #ffffff;
        box-shadow: 0 1px 2px #585858;
        
        }

        .navbar-default li a {
            color: white;
            font-weight: bold;
        }

        .navbar-default .navbar-nav li a:hover {
            transition: background-color 0.8s ease;
        }
       

        .navbar-brand {
            padding: 5px 10px;
        }
        .navbar-header img {
            width: 60px;
        }


        .adminDropdownUl {
            background-color: #54b4eb;
        }

        .navbar-center {
            margin-left: 140px;
        }

</style>

<nav class="navbar navbar-default navbar-fixed-top" id="navbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/Home/Index"><img class="header-logo" src="../../Content/Images/medic-logo.png"></a>

        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "Home" ? "active" : "")">
                    @Html.ActionLink("Hem", "Index", "Home")
                </li>

                <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "About" ? "active" : "")">
                    @Html.ActionLink("Om oss", "Index", "About")
                </li>

              
                <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "Relatives" ? "active" : "")">
                    @Html.ActionLink("Anhörig", "Index", "Relatives")
                </li>


            </ul>




            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin funktioner<span class="caret"></span></a>
                    <ul class="dropdown-menu adminDropdownUl">
                        <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "Schedule" ? "active" : "")">
                            @Html.ActionLink("Patientschema", "Index", "Schedule")
                        </li>

                        <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "Patient" ? "active" : "")">
                            @Html.ActionLink("Skapa Patient", "Index", "Patient")
                        </li>

                        <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "Employees" ? "active" : "")">
                            @Html.ActionLink("Skapa Anställd", "Index", "Employees")
                        </li>
                        <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "Relatives/RelativeConnection" ? "active" : "")">
                            @Html.ActionLink("Förbindelse till annhöriga", "RelativeConnection", "Relatives")
                        </li>
                    </ul>
                </li>
            </ul>


            <ul class="nav navbar-nav navbar-right">
                <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "Task" ? "active" : "")">
                    @Html.ActionLink("Schema uppgifter", "Index", "Task")
                </li>
            </ul>


        </div>
    </div>
</nav>


