<style>
    .navbar-default .navbar-nav li a:hover {
        color: #555;
    }


    .navbar-default {
        background-color: #ffffff;
        box-shadow: 0 1px 2px #efefef;
    }

    .navbar-default .navbar-nav li a {
            color: white;
            font-weight: bold;
        }

</style>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/Home/Index"><img class="header-logo" src="">Brand Logo</a>

        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Patient", "Index", "Patient")</li>
                <li>@Html.ActionLink("Schedule", "Index", "Schedule")</li>
                <li>@Html.ActionLink("Staff", "Index", "Staff")</li>
                <li>@Html.ActionLink("Task", "Index", "Task")</li>

            </ul>


            
        </div>
    </div>
</nav>


@section scripts
{


}
