@model vardkollen.ViewModels.TasksViewModel
@{
    ViewBag.Title = "About Page";
}


<style>
    .app-checkbox {
        font-size: 20px;
    }

    .nav-tab-holder,
    .list-group {
        max-width: 400px;
    }

    .nav-tabs.nav-justified > li > a {
        border-bottom: none;
    }

    input[type="checkbox"] {
        margin-right: 10px;
        width: 20px; /*Desired width*/
        height: 20px; /*Desired height*/
    }
</style>





<div class="row">
    <div class="center-block nav-tab-holder">
        <ul class="nav nav-tabs nav-justified">
            <li role="presentation" class="active"><a href="#">Uppgifter</a></li>
            <li role="presentation"><a href="#">Övrig Info</a></li>
            <li role="presentation"><a href="#">Akuta nummer</a></li>
        </ul>
    </div>
</div>


<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="task-list">
            <div class="col-md-12">
            @using (Html.BeginForm("UpdateTodoList", "Task", "POST"))
            {
                @Html.AntiForgeryToken()

                <ul class="list-group center-block todolist-ul">

                    @for (var i = 0; i < @Model.Tasks.Count; i++)
                    {
                        <li class="list-group-item">
                            @Html.HiddenFor(x => x.Tasks[i].Id)
                            @Html.CheckBoxFor(x => x.Tasks[i].IsChecked, new { @class = "pull-left checkbox" })
                            <p>@Model.Tasks[i].TaskName</p>
                        </li>
                    }
                    <li class="list-group-item">
                        @Html.HiddenFor(x => x.Schedule.Id)

                        <input type="submit" value="Klar" class="btn btn-block btn-lg btn-success center-block"/>
                    </li>
                </ul>
            }
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>



<div style="height: 150px"></div>

