@model vardkollen.ViewModels.PatientAndScheduleViewModel
@{
    ViewBag.Title = "About Page";
}


<style>
    .task-holder {
        /* background-color: gray; */
    }



    /* Left side Card Item (Info) */
    .item-left {
        height: 180px;
        background-color: white;
        margin: 15px;
        padding: 15px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }

        .item-left.profile {
            padding: 0;
            margin-bottom: 60px;
        }

        .item-left img {
            margin-top: 20px;
        }

    .left-main-content {
    }




    /* Right Side Card Item (Tasks)  */
    .task-heading {
        border-bottom: 0.5px solid black;
        height: 50px;
        line-height: 50px;
        background-color: #229ee5;
        color: white;
    }

        .task-heading p {
            font-weight: bold;
        }


    .task-item {
        background-color: white;
        height: 310px;
        max-width: 400px;
        margin: 15px 10px 40px 10px;
        overflow: hidden;
        position: relative;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }


        .task-item:hover {
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
            transition: all 100ms ease-in;
        }


    /* Center button using transform (new browesers supports this only) */
    .btn-more-info3 {
        width: 130px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
    }

    .btn-more-info {
        position: absolute;
        margin-left: -71px;
        left: 50%;
        width: 130px;
        bottom: 8px;
    }


    /* Some random fixing */

    .card-heading div {
        height: 100%;
    }

    .task-heading p {
        margin: 0;
    }


    .list-group {
        margin: 0;
    }

    .list-group-item {
        border-left: 0;
        border-right: 0;
    }

    .list-special .list-group-item:first-child {
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }

    .list-special .list-group-item:last-child {
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .pagination-holder {
        margin-left: 100px;
    }

    @@media (max-width: 480px) {
        .item-left {
            min-height: 300px;
        }

        .task-item {
            height: 330px;
        }

        .pagination-holder {
            margin-left: 0;
        }
    }
</style>



<div class="row">
    <div class="start-banner">
    </div>
</div>





<div class="row">
    <div class="col-md-12">


        <!-- Left side of page-->
        <div class="col-xs-12 col-sm-6 col-md-5">
            <div class="task-holder">
                <div class="item-left profile">
                    <div class="col-xs-4">
                        <img src="~/Content/Images/user-female-picture.png" style="width: 110px" alt=""/>
                    </div>
                    <div class="col-xs-8">
                        <h3>@Model.Patient.FirstName @Model.Patient.LastName</h3>

                        <div class="left-main-content">

                            <p>
                                <strong>Persnr:</strong>@Model.Patient.PersonNumber
                            </p>
                            <p>
                                <strong>Telefon:</strong>@Model.Patient.PhoneNumber
                            </p>
                        </div>
                    </div>
                </div>

                <h1 style="color: black; margin-left: 30px">Övrigt</h1>
                <hr/>
                <div class="item-left">
                    <h3>Medecin</h3>
                    <div class="left-main-content">

                        @foreach (var medication in Model.Patient.Medications)
                        {
                            <p>
                                @medication.Name
                            </p>
                        }


                    </div>
                </div>
                <div class="item-left">
                    <h3>Allergier</h3>
                    <div class="left-main-content">
                        <p> </p>
                        <p> </p>
                        <p> </p>
                    </div>
                </div>
                <div class="item-left">
                    <h3>Annhöriga</h3>
                </div>
            </div>
        </div>


        <!-- Right side of page-->
        <div class="col-xs-12 col-sm-6 col-md-7">
            <div class="task-holder">
                @foreach (var schedule in Model.Patient.Schedules)
                {

                    <!-- One Task Item -->
                    <div class="task-item">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="task-heading">
                                    <div class="col-xs-9">
                                        <p>@schedule.DateTime</p>
                                    </div>
                                    <div class="col-xs-3">
                                        <p class="pull-right">Tid</p>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-12">
                            <div class="row">
                                <div class="task-list">


                                    <!-- each task in one tasklist item -->
                                    <ul class="list-group list-special">


                                        @foreach (var todo in schedule.TodoList)
                                        {
                                            <li class="list-group-item  @(todo.IsDone ? "list-group-item-success" : "")">
                                                <div class="row">
                                                    <div class="col-xs-6">
                                                        <p>@todo.Task.Name</p>
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <p class="pull-right">15.00</p>
                                                    </div>
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <button class="btn btn-primary btn-more-info">Mer Info</button>
                    </div>



                }




                <!-- Pagination -->
                <div class="pagination-holder">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!-- Pagination Ends -->
            </div>
        </div>
    </div>
    <!-- Right Ends Here -->
















</div>



@section scripts {
    <script>







    </script>
}