@model CareCheck.MVC.Admin.ViewModels.TasksViewModel
@{
    ViewBag.Title = "About Page";
}


<style>
    .app-checkbox {
        font-size: 20px;
    }

    .nav-tab-holder,
    .list-group {
        max-width: 400px;
    }

    .nav-tabs.nav-justified > li > a {
        border-bottom: none;
    }

    input[type="checkbox"] {
        margin-right: 10px;
        width: 20px; /*Desired width*/
        height: 20px; /*Desired height*/
    }



    .showDiv {
        display: block;
    }

    .task-tabs li a {
        font-weight: bold;
        
    }
    .other-info-div,
    .emergencyNumbers-div {
        height: 300px;
        background-color: white;
        padding: 20px;
        border: 1px solid #dddddd;
        border-radius: 4px;
    }
</style>





<div class="row">
    <div class="center-block nav-tab-holder">
        <ul class="nav nav-tabs nav-justified task-tabs">
            <li role="presentation" id="todoList" class="active"><a href="#">Uppgifter</a></li>
            <li role="presentation" id="otherInfo"><a href="#">Övrig Info</a></li>
            <li role="presentation" id="emergencyNumbers"><a href="#">Akuta nummer</a></li>
        </ul>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="col-md-3"></div>

        <div class="col-md-6">
            <div class="task-list">

                <div class="todoList-div">
                    @using (Html.BeginForm("UpdateTodoList", "Task", "POST"))
                    {
                        @Html.AntiForgeryToken()

                        <ul class="list-group center-block">

                            @for (var i = 0; i < @Model.Tasks.Count; i++)
                            {
                                <li class="list-group-item">
                                    @Html.HiddenFor(x => x.Tasks[i].Id)
                                    @Html.CheckBoxFor(x => x.Tasks[i].IsChecked, new {@class = "pull-left checkbox"})
                                    <p>@Model.Tasks[i].TaskName</p>
                                </li>
                            }
                            <li class="list-group-item">
                                @Html.HiddenFor(x => x.Schedule.Id)

                                <input type="submit" value="Klar" class="btn btn-block btn-lg btn-success center-block"/>
                            </li>
                        </ul>
                    }
                </div>


                <div class="other-info-div list-group center-block">
                    <p><strong>Adress:</strong> @Model.Patient.Adress - @Model.Patient.ZipCode</p>
                    <hr />
                    <p><strong>Telefon:</strong> @Model.Patient.PhoneNumber</p>
                    <hr />
                    <p><strong>Medicin @Model.Patient.Medications.Count()st:</strong></p>


                    @foreach (var item in @Model.Patient.Medications)
                    {
                        <p>@item.Name</p>
                    }
                </div>


                <div class="emergencyNumbers-div list-group center-block">
                    <p><strong>Kommun nisse: </strong><a>073-1112321</a></p>
                    <p><strong>Ambulans: </strong><a>112</a></p>
                </div>


            </div>
        </div>



        <div class="col-md-3"></div>
    </div>
</div>



<div style="height: 150px"></div>



<script>

    $(document).ready(function () {

        // Hide them as default
        $(".other-info-div").css("display", "none");
        $(".emergencyNumbers-div").css("display", "none");



        $("#otherInfo").on('click', function () {
            $(".todoList-div").css("display", "none");
            $(".emergencyNumbers-div").css("display", "none");
            $(this).siblings('li').removeClass("active");
            $(this).addClass("active");
            $(".other-info-div").fadeIn(400).css("display", "block");
        });



        $("#emergencyNumbers").on('click', function () {
            $(".todoList-div").css("display", "none");
            $(".other-info-div").css("display", "none");
            $(this).siblings('li').removeClass("active");
            $(this).addClass("active");
            $(".emergencyNumbers-div").fadeIn(400).css("display", "block");
        });



        $("#todoList").on('click', function () {
            console.log("Todolist clicked");
            $(".other-info-div").css("display", "none");
            $(".emergencyNumbers-div").css("display", "none");
            $(this).siblings('li').removeClass("active");
            $(this).addClass("active");
            $(".todoList-div").fadeIn(400).css("display", "block");
        });





    });

</script>